@font-face {
    font-family: 'PressStart2P';
    src: url('../assets/PressStart2P.woff') format('woff');
}

html, body {
  height: 100%;
  margin: 0px;
  touch-action:none;
}

#plainCanvas {
    position:absolute;
    left:10%;
    top:10%;
    width:80%;
    height:80%;
    touch-action:none;
}

#arena {
    background-image: url('../assets/arena-football.png');
    background-size: 100% 100%;
    margin: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    touch-action: none;
}

h1 { 
	font-family: 'PressStart2P', 'Georgia', serif; 
}

#score {
  position: absolute;
  z-index: 1000;
  left: 50%;
  top: 5%;
}

.sprite {
    background-image: url('../assets/sprites-football.png');
    width: 128px;
    height: 128px;
}

.control {
  margin: 16px;
  width: 64px;
  height: 64px;
 }

#controls-move {
  position: absolute;
  left: 0; bottom: 0;
  touch-action:none;
}

#controls-shoot {
  position: absolute;
  right: 0; bottom: 0;
  touch-action:none;
}

#player {
  position: absolute;
  background-position: 0px 128px;
  touch-action:none;
}

#opponent {
  position: absolute;
  background-position: 0px 0px;
}

#ball {
  position: absolute;
  width: 64px;
  height: 64px;
  background-position: 128px 128px;
  }

#aimDown {
  background-position: 64px 192px;
  touch-action:none;
}

#aimUp {
  background-position: 64px 0px;
  touch-action:none;
}

#moveDown {
  background-position: 128px 192px;
  touch-action:none;
}

#moveUp {
  background-position: 128px 0px;
  touch-action:none;
}